@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
    padding-bottom: 0;
}

.header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit:fill;
}

.navs{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 20px;
    padding: 120px 0;
}

.first{
    width: 40%;
    min-width: 400px;
}

.first h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}

.first p{
    color: #e5e7eb;
    font-size: 18px;
}

.first .btn{
    border: none;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.hero-section img{
    width: 500px;
    height: 100%;
}

.info-section h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-section > .images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 60px 0;
}

.info-section img{
    width: 150px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #3882f6;
}

.info-section .images div{
    width: 200px;
    text-align: center;
}

.quote-section{
    padding: 60px 20%;
    background-color: #e5e7eb;
}

.quote p{
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

.quote .teller{
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    text-align: right;
}



.blue-call{
    margin: 100px auto;
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    border-radius: 6px;
    padding: 40px 0px;
}

.blue-call .first{
    width: 60%;
}



.blue-call p{
    line-height: normal;
    margin: 0px;
}

.blue-call .action{
    color: #f9faf8;
    font-weight: 900;
}


.blue-call .btn{
    border: none;
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.section-footer{
    padding: 10px;
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}